.button-left {
    height: 100;
    width: 100;
    margin: 15;
    background-color: purple;
    horizontal-align: left;
    vertical-align: bottom;
}

.button-right {
    height: 50;
    width: 50;
    margin: 15;
    background-color: purple;
    horizontal-align: right;
    vertical-align: bottom;
}
